:root {
   
   --blue-white: #8DD9FB;
    --dark: #000000;
    --blue: #1F77B4;
    --bg-gray: #f4f7f6;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.register-container {
    background-color: var(--white);
    width: 100%;
    max-width: 400px;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.register-title {

    margin-top: 10px;
    margin-bottom: 20px;
}
/* Logo*/
.logo-container {
    text-align: center;
    margin-bottom: 30px;
}

.brand-logo img {
    height: 90px;
    margin-bottom: 25px;
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;

}


.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    color: var(--dark);
}

.form-control {
    width: 100%;
    padding: 14px;
    border: 2px solid var(--blue-white);
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: var(--blue);
}

.btn-login {
    width: 100%;
    padding: 15px;
    background-color: var(--blue-white);
    color: var(--dark);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: var(--blue-white);
}


.login-footer {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.login-footer span {
    color: var(--dark);
}

.login-footer .register-link {
    color: var(--blue);
    font-weight: 600;
    text-decoration: none;
}

.login-footer .register-link:hover {
    text-decoration: underline;
}

/* Responsive Mobile*/
@media (max-width: 768px) {
    body {
        background-color: var(--white);
        align-items: flex-start;
        padding-top: 40px;
    }

    .register-container {
        box-shadow: none;
        padding: 20px;
        max-width: 100%;
    }
}